<div class="container-fluid">
	<div class="row text-center">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2 class="text-center">
	Bee A Hero!</h2>
	<img src="http://media.mnn.com/assets/images/2015/07/HoneyBeeZinniaFlower.jpg.838x0_q80.jpg" class="bee-contained" alt="bumblee on a flower">
	</div>
	</div>
</div>
<div class="container-fluid about-color" id="about">
<h2 class="text-center">About BeeHelpful</h2>
<div class="row text-center">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">In February of 2017, a once highly common bumblebee - the rusty patched bumble bee - was put on the endangered species list after dropping in population by 90% over the last 20 years. With the high likelihood of climate change and habitat loss continuing to rise, other bees may soon join the list as well. As an effort to combat the growing loss in vegetation and the continued decrease in pollination, BeeHelpful was born. Each month you'll be sent a box of native plant seeds that you can grow - whether it be in your garden or in your neighborhood - to help regrow the environment and hopefully help save the bees!</div>
</div>
</div>
</div>

<div class="container-fluid sub-box contained" id="yourbox">
	<div class="bg-text">
	<h2 class="text-center">What's In The Box?</h2>
	<div class="row text-center">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">After you sign up, we make sure that the box that you're sent is packed only with plants that are native to your county. This helps with the prevention of invasive species making their way into your environment and furthering issues of destruction of habitat for other insect life (along with our buddy, the bee!).
		</div>
	</div>
</div>
</div>
