<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BeeHelpful</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
<div class= "container-fluid">
<div class="row">
<div class="col-md-1 col-sm-4 col-xs-12 navbar-nav"><a href="/">BeeHelpful</a></div>
<div class="col-md-1 col-sm-4 col-xs-12 navbar-nav"><a href="#about">About</a></div>
<div class="col-md-1 col-sm-4 col-xs-12 navbar-nav"><a href="#yourbox">What's In There?</a></div>
<div class="col-md-7 col-sm-4"></div>
<%if(!currentUser){%>
<div class="col-md-1 col-sm-4 col-xs-12 navbar-nav"><a href="/auth/login">Login</a></div>
<div class="col-md-1 col-sm-4 col-xs-12 navbar-nav"><a href="/auth/signup">Start Bee-ing Helpful!</a></div>
<%} else{%>
<div class="col-md-1 col-sm-4 col-xs-12 navbar-nav"><a href="/auth/logout">Logout</a></div>
<%}%>

</div>
</div>
<div class="container">
<hr>
<%- body%>


</div>
<div class="container footer">
<div class="row">
<div class="col-md-3 col-sm-4 col-xs-12">info</div>
<div class="col-md-3 col-sm-4 col-xs-12">info</div>
<div class="col-md-3 col-sm-4 col-xs-12">info</div>
<div class="col-md-3 col-sm-4 col-xs-12">info</div>

</div>
</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
