<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BeeHelpful</title>
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
<script src="https://use.fontawesome.com/53a7f101f4.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">



</head>
<body>
<div class= "container-fluid">
<div class="row black navi text-center">
<div class="col-md-1 col-sm-4 col-xs-12 navbar-nav"><a href="/">BeeHelpful</a></div>
<div class="col-md-1 col-sm-4 col-xs-12 navbar-nav"><a href="/#about">About</a></div>
<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 navbar-nav"><a href="/#yourbox">What's In This Thing?</a></div>
<div class="col-md-5 col-sm-4"></div>
<%if(!currentUser){%>
<div class="col-md-1 col-sm-4 col-xs-12 navbar-nav"><a href="/auth/login">Login</a></div>
<div class="col-md-2 col-sm-4 col-xs-12 navbar-nav"><a href="/auth/signup">Subscribe!</a></div>
<%} else{%>
<div class="col-md-2 col-sm-4 col-xs-12" navbar-nav"><a href="/auth/myaccount">My Account</a></div>
<div class="col-md-1 col-sm-4 col-xs-12 navbar-nav"><a href="/auth/logout">Logout</a></div>
<%}%>

</div>
</div>
</div>

<% include partials/alerts %>

<%- body%>

<hr>
<div class="container-fluid footer">
<h2 class= "text-center">Save The Bees!</h2>
<div class="row">
<div class="col-md-3 col-sm-4 col-xs-12"><h4 class="bold">Get Started</h4>

<p>
<ul>
<li><a href="/#about">About</a></li>
<li><a href="/auth/signup">Sign Up</a></li>

</ul>
</p>
</div>

<div class="col-md-3 col-sm-4 col-xs-12"><h4 class="bold">About</h4>
<p>The goal is to always be environment friendly and especially, bee friendly.</p>
</div>
<div class="col-md-3 col-sm-4 col-xs-12"><h4 class="bold">Stay In Touch</h4>
<p><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>

</p>

</div>

</div>
</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery.js"></script>


</body>
</html>
