<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<!-- Latest compiled and minified CSS & JS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="/css/style.css" rel="stylesheet" type="text/css">

<script src="//code.jquery.com/jquery.js"></script>

<div class="container text-center">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
<h2>Start Bee-ing Helpful</h2>
<form action="/auth/signup" method="POST">
<div class="form-group">
	<input type="text" id="email" name="email" placeholder="Email">
	</div>
	<div class="form-group">
	<input type="text" id="password" name="password" placeholder="Password">
	</div>
	<div class="form-group">
	<input type="text" id="firstname" name="firstName" placeholder="First Name">
	</div>
	<div class="form-group">
	<input type="text" id="lastname" name="lastName" placeholder="Last Name">
	</div>
	<button type="submit" class="deco">Create Account</button>
</form>
</div>
<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
<h2>Or, Facebook is always an option!</h2>
<a class="btn btn-social btn-facebook" href="/auth/facebook">Login with Facebook!</a>
</div>
</div></div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
